@import url('common.css');
.wrapper a:hover{
	color:#1daffc;
	text-decoration: underline;
}
.header-box{
	border-bottom:2px solid #CACACA;
	box-shadow: 0 0 5px #CACACA; 
}
.header{
	width: 1200px;
	height: 60px;
	margin:0 auto;
}
.logo{
	margin-top: 10px;
	width:225px;
	height:60px;
	float: left;

}
img.left{
	float: left;
}
span.left{
	line-height:40px;
}
.nav-center{
	float: left;
	width: 200px;
	margin-left: 30px;
	margin-top: 10px;
}
.nav-center .nav-link{
	height: 40px;
	padding: 10px 10px 0 21px;
	position: relative;
	float: left;
	cursor: pointer;
}
.nav-center .sy{
	background: url(../imgs/newicon.png) no-repeat -499px -92px;
}
.nav-center .sy:hover{
	background: url(../imgs/newicon.png) no-repeat -499px -123px;
}
.nav-center .fl{
	background: url(../imgs/newicon.png) no-repeat -604px -89px;
}
.nav-center .fl:hover{
	background: url(../imgs/newicon.png) no-repeat -604px -121px;
}
.search{
	margin-top: 10px;
	width:365px;
	float: left;
}
.search input{
	float: left;
	border: 1px solid #44b7ff;
	border-right-width: 1px;
	padding: 0 10px;
	width: 278px;
	height: 34px;
	line-height: 34px;
	border-radius: 2px 0 0 2px;
	background: #fff;
	font-size: 14px;
}
.search button{
	width: 55px;
	height: 35px;
	line-height: 31px;
	border: 0;
	cursor: pointer;
	font-size: 15px;
	color: #f0f8ff;
	border-radius: 0 2px 2px 0;
	background:  #1caffc url(../imgs/newicon.png) no-repeat 15px 8px;
}
.header .login{
	height: 20px;
	line-height:20px; 
	float: right;
	margin-top: 20px;
}
.header .login span{
	display: block;
	font-size: 12px;
	float: left;
	height: 20px;
	margin-left: 12px;
	padding-left: 12px;
	border-left: 1px solid #ddd;
}
.header a{
	color: #111;
}
.header .fc{
	color:#1daffc;
}
.footer{
	background: #FAFAFA;
	width:100%;
	border-top: 1px solid #c1c1c1;
	margin: 0 auto;
}
.footer-top{
	width: 1200px;
	margin: 0 auto;
	padding-top: 10px;
}
.footer-top{
	font-size: 12px;
	color: #777;
	padding-bottom: 10px;
	border-bottom:1px solid #c1c1c1;
}
.footer-top a {
	color: #777;
	padding:2px 8px; 
}
.footer-top a:hover{
	color: #1daffc;
	text-decoration: underline;
}
.footer-center{
	text-align: center;
	padding: 20px;
	border-bottom: 1px solid #c1c1c1;
	font-size: 14px;
	width: 1200px;
	margin:0 auto; 
	margin-bottom:10px; 
}
.footer-center a{
	padding: 0 10px;
}
.footer-center a:hover{
	color: #1caffc;
	text-decoration: underline;
}
.foot-bottom{
	text-align: center;
}
.foot-bottom-inner{
	display: inline-block;
	color:#666;
}
.foot-bottom .contact{
	line-height: 26px;
	margin-right: 44px;
	float: left;
	text-align: left;
}
.foot-bottom {
	font-size:12px;
}
.contact h4{
	font-size: 12px;
	color: #111;
}
.foot-bottom .block{
	float:right;
}
.weibo{
	float: left;
	padding-top: 5px;
	width: 65px;
	position: relative;
	height: 54px;
	cursor: pointer;
}
.weixin{
	float: left;
	padding-top: 5px;
	width: 65px;
	position: relative;
	height: 54px;
	cursor: pointer;
}
.weibo .pic{
	position: relative;
	width: 65px;
	height: 60px;
	float: left;
	margin-right: 25px;
	background: url(../imgs/newicon.png) no-repeat -159px -89px;
}
.weixin .pic{
	position: relative;
    width: 65px;
    height: 60px;
    float: left;
    margin-right: 25px;
    background: url(../imgs/newicon.png) no-repeat -159px -11px;
}
.weibo .pic:hover {
    background-position: -228px -89px;
}
.weixin .pic:hover{
	background-position: -228px -11px;
}
.block .xiala{
	width: 116px;
	height: 98px;
	background: #fff;
	border: 1px solid #ddd;
	margin-top: -190px;
	right: -18px;
	position: absolute;
	/*display: none;*/
	opacity: 1;
	transition: .2s;
	padding-top: 6px;
}

.xiala .box-arrow{
	width: 130px;
	height: 121px;
	background: url(../imgs/wx-arrow2.png) bottom center no-repeat;
	position: absolute;
	top: -121px;
	left:-18px;
}
.bottom{
	background: #f1f1f1;
	text-align: center;
	font-size: 12px;
	color: #666;
	line-height: 20px;
	padding: 14px 0;
}
.bottom a{
	color:#000;
}
.bottom a:hover{
	color: #1caffc;
	text-decoration: underline;
}
.fl{
	position: absolute;
}
.fl .xiala{
	border-top:1px solid #666; 
	padding: 10px;
	background: #fff;
	border-radius: 2px;
	width: 230px;
	position: absolute;
	top: 49px;
	left: -24px;
	z-index: 3;
}
.xiala a{
	padding:2px 6px; 
}
.register-bg{
	background: #fff url("../imgs/bg3.jpg")  scroll center top;
	height: 630px;
	color: #999;
}
.register-bg h1{
	text-align: center;
	font-size: 33px;
	line-height: 40px;
	color: #323232;
	padding: 70px 0 30px 0;
	font-weight: bolder;
}
.register-box{
	width: 800px;
	height: 420px;
	border: 1px solid #ddd;
	box-shadow: 0 0 7px rgba(4,0,0,.27);
	-webkit-box-shadow: 0 0 7px rgba(4,0,0,.27);
	margin:0  auto;
	margin-bottom: 100px;
	background-color: #fff;
	padding: 50px 70px;
}
.register-l{
	float: left;
	width: 302px;
}
.register-l input[type="text"]{
	position: relative;
	width: 302px;
	height: 40px;
	font-size: 14px;
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
	height: 38px;
	line-height: 38px;
	display: block;
	width: 280px;
	padding: 0 10px;
	font-size: 14px;
	color: #323232;
}
.register-l .input{
	position: relative;
}
.register-l .getpassword{
	position: absolute;
    background-color: #ebeaea;
    border: none;
    border-radius: 3px;
    height: 36px;
    line-height: 36px;
    width: 100px;
    text-align: center;
    color: #323232;
    cursor: pointer;
    right: 2px;
    top: 2px;
}
.link{
	color: #00b6ff;
}
.agree{
	font-size: 14px;
	margin: -5px 0 25px 0;
}
.register-l .btn{
    width: 130px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #1caffc;
    color: #fff;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 3px;
}
.register-fg{
	width: 1px;
	height: 282px;
	overflow: hidden;
	background-color: #e5e5e5;
	float: left;
	margin-left: 58px;
}
.register-r{
	float: right;
	width: 260px;
	margin-top: -8px;
}
.footer-center a{
	color: black;
}